@import './reset';
@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  color: $color-text;
  background-color: $color-white;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  text-align: center;
}
h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
h4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
h5 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
h6 {
  font-size: 0.75rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
p {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
a {
  color: $color-secondary;
  text-decoration: none;
  &:hover {
    color: $color-primary;
  }
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}
